= render './shared/side_bar'
.contents
  .contents__top
    .contents__top__logo
      sample
    %button.contents__top__edit
      = link_to edit_group_path(1), class: "contents__top__edit__logo" do
        Edit
    .contents__top__member
      Member: sample
  .contents__li
    .contents__li__name
      seo
    .contents__li__date
      2019/05/22(Mon) 11:45
    .contents__li__text
      Hello world!
  .contents__bottom
    %form 
      .contents__bottom--white 
        type a message
        %label.contents__bottom__file
          %i.fas.fa-image
          %input(class="hidden" type="file")
      %button.contents__bottom__send
        Send
      

-# = fa_icon 'image'
-# =link_to "#", class: "sider__top__btn sider__top__btn--edit"




