.contents{
  background-color: #fafafa;
  height: 100vh;
  width: calc(100vw - 300px);
  display: inline-block;
  &__top{
    height: 96px;
    border-bottom: solid;
    border-bottom-color: #eeeeee;
    border-width: 0.7px;
    position: relative;
    &__logo{
      display: inline-block;
      font-size: 20px;
      color: #333333;
      margin: 35px 0 15px 0;
      padding-left: 40px;
    }
    &__member{
      font-size: 12px;
      color: #999999;
      margin-left: 40px;
    }
    &__edit{
      display: inline-block;
      position: absolute;
      right: 0px;
      margin-top: 28px;
      margin-right: 40px;
      padding: 0 20px;
      line-height: 40px;
      border-style: solid;
      border-color: $light_blue;
      border-width: 0.5px;
      &__logo{
        color: $light_blue;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
  &__li{
    margin-top: 46px;
    margin-bottom: 40px;
    margin-left: 40px;
    &__name{
      display: inline-block;
      font-size: 20px;
    }
    &__date{
      display: inline-block;
      font-size: 12px;
      color: #999999;
      margin-left: 10px;
    }
    &__text{
      padding-top: 10px;
    }
  }
  &__bottom{
    background-color: rgb(224, 221, 221);
    height: 100px;
    width: calc(100vw - 300px);
    position: absolute;
    bottom: 0;
    &--white{
      background-color:$white;
      width: 900px;
      height: 50px;
      margin: 25px 0 25px 40px;
      padding-left: 10px;
      font-size: 16px;
      color: #434a54;
      line-height: 50px;
      position: relative;
      float: left;
      label.contents__bottom__file{
        position: absolute;
        right: 10px;
        input.hidden{
        display: none;
        }
      }
    }
    &__send{
      display: inline-block;
      background-color: $light_blue;
      height: 50px;
      width: 100px;
      margin-left: 15px;
      margin-top: 25px;
      font-size: 20px;
      text-align: center;
      line-height: 50px;
      color: $white;
    }
  }
}


